*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem; /*This is actually make the text appear in center according to the height of the tag*/
    
}

.choice{
    height: 165px;
    width: 165px;   
    border-radius: 50%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    background-color: #081b31;
    cursor: pointer;

}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}

.choices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10rem;
    margin-top: 3rem;
    font-size: 2rem;

}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

}

@media only screen and (max-width: 600px){
    .msg-container{
        justify-content: center;
        align-items: center;
    }
}